[submodule "ood-tips/themes/ananke"]
	path = ood-tips/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugosrc/themes/ananke"]
	path = hugosrc/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "academic-kickstart"]
	path = academic-kickstart
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "hugosrc/themes/academic"]
	path = hugosrc/themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
